<ons-page id="historyPage">
  <ons-toolbar>
    <ons-toolbar>
      <div class="left"><ons-back-button>首页</ons-back-button></div>
      <div class="center">回顾历史</div>
    </ons-toolbar>
  </ons-toolbar>

  <div class="content">
    <ons-list id="today-his-list" style="display: none">
      <ons-list-header>今天完成：</ons-list-header>
    </ons-list>
    <ons-list id="week-his-list" style="display: none">
      <ons-list-header>本周完成：</ons-list-header>
    </ons-list>
    <ons-list id="early-his-list" style="display: none">
      <ons-list-header>更早完成：</ons-list-header>
    </ons-list>
  </div>
</ons-page>
