<ons-page id="listPage">
  <ons-toolbar>
    <div class="left">
        <ons-back-button></ons-back-button>
    </div>
    <div class="center">项目</div>
  </ons-toolbar>

  <ons-list id="items">
    <ons-list-item tappable onclick="navi.popPage()">
      <label class="center">杂事</label>
    </ons-list-item>
    <ons-list-item tappable onclick="navi.popPage()">
      <label class="center">个人</label>
    </ons-list-item>
    <ons-list-item tappable onclick="navi.popPage()">
      <label class="center">工作</label>
    </ons-list-item>
    <ons-list-item tappable onclick="navi.popPage()">
      <label class="center">工作:项目A</label>
    </ons-list-item>
    <ons-list-item tappable onclick="navi.popPage()">
      <label class="center">工作:项目B</label>
    </ons-list-item>
  </ons-list>

</ons-page>
