<ons-page id="scheduleContainerPage">
  <ons-toolbar>
    <ons-toolbar>
      <div class="left"><ons-back-button>首页</ons-back-button></div>
      <div class="center">日程表</div>
      <div class="right">
        <ons-toolbar-button>
          <ons-icon icon="ion-ios-plus-empty, material:md-plus" class="addTask" source="0"></ons-icon>
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
  </ons-toolbar>

  <ons-tabbar position="auto" animation="slide" id="scheduletabs">
    <ons-tab id="expiretab" page="templates/schedule-expire.html" badge="" label="过去">
    </ons-tab>
    <ons-tab id="todaytab" page="templates/schedule-today.html" badge="" label="今天" active>
    </ons-tab>
    <ons-tab id="tomorrowtab" page="templates/schedule-tomorrow.html" badge="" label="周二">
    </ons-tab>
    <ons-tab id="tomorrow2tab" page="templates/schedule-tomorrow2.html" badge="" label="周三">
    </ons-tab>
    <ons-tab id="tomorrow3tab" page="templates/schedule-tomorrow3.html" badge="" label="周四">
    </ons-tab>
    <ons-tab id="futuretab" page="templates/schedule-future.html" badge="" label="将来">
    </ons-tab>
  </ons-tabbar>
</ons-page>
