<ons-page>
  <ons-list id="inbox-list">
    <ons-list-header>到期于 ...</ons-list-header>
    <ons-list-item tappable>
      <label class="left">
        <ons-checkbox></ons-checkbox>
      </label>
      <div class="center" onclick="navi.pushPage('html/edit.html', {data: {back: '收集箱', title: '待整理项'}})">
        <span class="list-item__title" style="font-size: 16px;">去超市购买蔬菜</span>
        <span class="list-item__subtitle" style="text-align: right;font-size: 12px;">到期于 20:15</span>
      </div>
      <div class="right">
        <ons-icon size="30px" style="color: grey; padding-left: 4px" icon="ion-ios-trash-outline, material:md-delete"></ons-icon>
      </div>
    </ons-list-item>
    <ons-list-item tappable>
      <label class="left">
        <ons-checkbox></ons-checkbox>
      </label>
      <div class="center" onclick="navi.pushPage('html/edit.html', {data: {back: '收集箱', title: '待整理项'}})">
        <span class="list-item__title" style="font-size: 16px;">去超市购买蔬菜</span>
        <span class="list-item__subtitle" style="text-align: right;font-size: 12px;">到期于 17:00</span>
      </div>
      <div class="right">
        <!--
        <ons-icon style="color: grey; padding-left: 4px" icon="ion-ios-star-outline, material:md-star-outline"></ons-icon>
        -->
        <ons-icon size="30px" style="color: grey; padding-left: 4px" icon="ion-ios-trash-outline, material:md-delete"></ons-icon>
      </div>
    </ons-list-item>

    <ons-list-header>下一步</ons-list-header>
    <ons-list-item tappable>
      <label class="left">
        <ons-checkbox></ons-checkbox>
      </label>
      <div class="center" onclick="navi.pushPage('html/edit.html', {data: {back: '收集箱', title: '待整理项'}})">
        <span style="font-size: 16px;">去超市购买蔬菜</span>
      </div>
      <div class="right">
        <ons-icon size="30px" style="color: grey; padding-left: 4px" icon="ion-ios-trash-outline, material:md-delete"></ons-icon>
      </div>
    </ons-list-item>
  </ons-list>
</ons-page>
